@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url(./root.css);

.container {
    max-width: 1440px;
}

.max-w-238 {
    max-width: 238px;
    text-align: left;
}

.mt-40 {
    margin-top: 40px;
}

.lh-24 {
    line-height: 24px;
}

.lh-64 {
    line-height: 64px;
}

.lh-76 {
    line-height: 76.8px;
}

.lh-23 {
    line-height: 23px;
}

.lh-22 {
    line-height: 22.72px;
}

.lh-88 {
    line-height: 88px;
}

/* header */
.bg-img {
    background-image: url(../img/png/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-bg {
    border-radius: 24px;
    gap: 32px;
    padding: 12px 16px;
    background: var(#FFFFFF26);
    border: 1px solid var(--white-30, #FFFFFF4D)
}

.navbar-link:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
    gap: 32px;
    padding: 12px 16px;
    border-radius: 24px;
    color: var(--color-black-1) !important;
    background: var(--color-white);
}

.button-1 {
    border-radius: 50px;
    padding: 12px 24px;
    border: 1px solid var(--color-black-1);
}

.btn-hover:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.menu-box {
    width: 44px;
    border-radius: 4px;
    padding: 12px 6px;
    background: var(--white-15, #FFFFFF26);
    border: 0.5px solid var(--dark-25, #1D252D40)
}

.menu-lines {
    width: 32px;
    display: flex;
    z-index: 10;
    border: 1.5px solid #141414;
    /* margin-bottom: 6px; */
    transition: all 300ms linear;
    position: relative;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}


.stone {
    animation: moveUpDown 2s infinite ease-in-out;
}

/* hero-section */
.max-w-705 {
    max-width: 705.35px;
}

.button-2 {
    border-radius: 34px;
    border-width: 1px;
    padding: 8px 14px;
    background: var(--white-15, #FFFFFF26);
    border: 1px solid var(--white-40, #FFFFFF66)
}

.button-3 {
    border-radius: 50px;
    padding: 16px 24px;
    background: var(--Dark, #1D252D);
}

.max-w-86 {
    max-width: 86px;
}

.box {
    max-width: 118px;
    border-radius: 6px;
    border-width: 1px;
    padding: 8px 16px;
    background: var(--white-10, #FFFFFF1A);
    border: 1px solid var(--white-30, #FFFFFF4D);
}

/* section-1 */
.max-w-225 {
    max-width: 225.4px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(40px);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .max-w-705 {
        max-width: 655.42px;
    }

    .lh-88 {
        line-height: 64px;
    }

    .div-1 {
        display: none !important;
    }

    .button-d {
        display: none;
    }

    .name li:last-child button {
        margin-left: 0px;
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (max-width:575.98px) {

    .max-w-705 {
        max-width: 430.67px;
    }

    .lh-88 {
        line-height: 48px;
    }
}