@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url(./root.css);

.container {
    max-width: 1440px;
}

.max-w-238 {
    max-width: 238px;
    text-align: left;
}

.mt-40 {
    margin-top: 40px;
}

/* line-height */
.lh-22 {
    line-height: 22.72px;
}

.lh-23 {
    line-height: 23px;
}

.lh-24 {
    line-height: 24px;
}

.lh-30 {
    line-height: 30px;
}

.lh-64 {
    line-height: 64px;
}

.lh-76 {
    line-height: 76.8px;
}

.lh-88 {
    line-height: 88px;
}

/* header */
.bg-img {
    background-image: url(../img/png/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-bg {
    border-radius: 24px;
    gap: 32px;
    padding: 12px 16px;
    background: var(#FFFFFF26);
    border: 1px solid var(--white-30, #FFFFFF4D);
}

.navbar-link:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
    gap: 32px;
    padding: 12px 16px;
    border-radius: 24px;
    background: var(--white-80, #FFFFFFCC) !important;
}

.button-1 {
    border-radius: 50px;
    padding: 12px 24px;
    border: 1px solid var(--color-black-1);
    transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
    transform: scale(1.05);
    background: black;
    color: white;
}

.menu-box {
    width: 44px;
    border-radius: 4px;
    padding: 12px 6px;
    background: var(--white-15, #FFFFFF26);
    border: 0.5px solid var(--dark-25, #1D252D40);
    position: relative;
    cursor: pointer;
}

.menu-lines {
    width: 32px;
    z-index: 10;
    border: 1.5px solid #141414;
    transition: all 300ms linear;
    position: absolute;
}

.line-1 {
    transform: translateY(-6px);
}

.line-2 {
    transform: translateY(6px);
}

.rotate40 {
    transform: rotate(45deg);
}

.rotate-45 {
    transform: rotate(-45deg);
}

.stone {
    animation: moveUpDown 2s infinite ease-in-out;
}

/* hero-section */
.max-w-705 {
    max-width: 705.35px;
}

.button-2 {
    border-radius: 34px;
    border-width: 1px;
    padding: 8px 14px;
    background: var(--white-15, #FFFFFF26);
    border: 1px solid var(--white-40, #FFFFFF66)
}

.button-3 {
    border-radius: 50px;
    padding: 16px 24px;
    background: var(--Dark, #1D252D);
}

.max-w-86 {
    max-width: 86px;
}

.max-w-326 {
    max-width: 326.24px;
}

.box {
    max-width: 118px;
    border-radius: 6px;
    border-width: 1px;
    padding: 8px 16px;
    background: var(--white-10, #FFFFFF1A);
    border: 1px solid var(--white-30, #FFFFFF4D);
}

/* section-1 */
.max-w-225 {
    max-width: 225.4px;
}

.max-w-240 {
    max-width: 240px;
}

/* slider */
.mb-80 {
    margin-bottom: 80px;
}

.layer-stone {
    bottom: -30%;
}

.slider-stone {
    top: 85%;
}

.five-steps-btn {
    border-radius: 34px;
    padding: 8px 14px 8px 14px;
    background: var(--white-60, #FFFFFF99);
    border: 1px solid var(--Grey-5, #CCCADA)
}

.gap-10 {
    gap: 10px;
}

.mt-166 {
    margin-top: 166px;
}

.max-w-650 {
    max-width: 650px;
}

.step-btn {
    width: 81px;
    height: 40px;
    border-radius: 34px;
    background: var(--color-white);
    border: 1px solid var(--color-white);
}

.opacity-70 {
    opacity: 70%;
}

.max-w-234 {
    max-width: 234px;
}

.slider-box {
    max-width: 276px;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(243, 241, 255, 0.8) 0%, rgba(246, 249, 255, 0.8) 100%);
    padding: 24px 15px 50px 15px;
    position: relative;
}


.slider-box:hover {
    background: #FCFCFE;
}

.slider-box:hover .step-btn {
    background-color: var(--color-black-1);
    color: var(--color-white);
}

.slider-box:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: linear-gradient(0deg, #FFFFFF 0%, #E2E0FD 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.slick-track {
    display: flex !important;
    gap: 16px;
}

.slick-slide {
    height: inherit !important;
}

.slick-dots li button::before {
    font-size: 12px !important;
    color: var(--grey-3) !important;
    opacity: 100% !important;
}

.slick-dots li.slick-active button:before {
    color: var(--grey) !important;
    opacity: 100% !important;
}

.letter-spacing-2 {
    letter-spacing: -2px;
}

.circle-img {
    top: 9px;
    right: -26px;
}

.max-w-515 {
    max-width: 515px;
}

.free-btn {
    border-radius: 50px;
    padding: 16px 24px 16px 24px;
    background: var(--color-dark);
}

.layer {
    top: 20%;
    z-index: -5;
}

.mb-288 {
    margin-bottom: 288px;
}

.max-w-432 {
    max-width: 432px;
}


/* footer */
.bdr {
    border: 1px solid #FFFFFF;
}

.footer-logo {
    max-width: 150px;
}

.email-box {
    max-width: 250px;
    padding: 16px 24px;
}

.padding-box {
    padding: 16px 24px;
}

.social-icons img {
    width: 40px;
    height: auto;
}

.footer-divider {
    width: 2px;
    height: 24px;
    background-color: white;
    display: inline-block;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(90px);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 400ms linear !important;
        z-index: 5;
    }

    .max-w-326 {
        max-width: 300px;
    }

    .max-w-705 {
        max-width: 655.42px;
    }

    .lh-88 {
        line-height: 64px;
    }

    .div-1 {
        display: none !important;
    }

    .footer-content {
        flex-direction: column;
        text-align: start;
    }

    .footer-links {
        margin-top: 20px;
        justify-content: center;
    }

    .email-container {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
        margin-top: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .button-d {
        display: none;
    }

    .name li:last-child button {
        margin-left: 0px;
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (max-width:767.98px) {
    .max-w-326 {
        max-width: 260px;
    }
}


@media (max-width:575.98px) {

    .max-w-705 {
        max-width: 430.67px;
    }

    .lh-88 {
        line-height: 48px;
    }
}